<div class="container mt-4">
    <ng-template [ngIf]="loading">
        <h4>Loading ...</h4>
    </ng-template>
    <ng-template [ngIf]="!loading">
        <h3>{{ (query) ? 'Search result for "' + query + '"' : 'All products' }}</h3>
        <p>Showing items {{ products.from }} to {{ products.to }} of {{ products.total }} results</p>
        <div class="row">
            <div *ngFor="let product of products.data" class="col-auto mb-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        <p class="card-text">{{ product.description }}</p>
                        <p class="card-text">Price: {{ product.price | number:'1.0-0' }} Rial</p>
                        <a href="#" class="card-link">Add to card</a>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>